apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-app
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: devops-app
  template:
    metadata:
      labels:
        app: devops-app
    spec:
      containers:
      - name: devops-app
        image: 234189401549.dkr.ecr.ap-south-1.amazonaws.com/devops-demo:14
        ports:
        - containerPort: 80

